.margin50{
    margin-bottom: 20px;
}

.btn-primary {
    margin-bottom: 20px;
}

.boldtext{
    font-weight: 800;
}
.cols{
    /* border: 1px solid black; */
    border-radius: 10px;
    background:whitesmoke   ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#passlenghtinput{
    margin-top: 20px;
}